body{
  background-color: #efefef;
}

.main{
  background-color: white;
  margin: 30px;
}

.btn-publish{
  float: right;
  margin-bottom: 15px;
}

.media-object{
  width: 38px;
  height: 38px;
}

.text-desc{
  font-size: 12px;
  font-weight: normal;
  color: #999;
}

.blog-menu{
  color: #999;
  font-size: 13px;
}

.comment-name{
  padding: 7px;
}

.comment{
  margin: 10px 0px;
}

.comment-btn{
  float: right;
  margin-bottom: 10px;
}

.comment-hr {
  margin-top: 0px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.itn{
  margin-top: 15px;
}

.menu{
  color: #999;
  margin-top: 5px;
}

.menu .icon{
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.menu .icon:hover{
  color: #499ef3;
}

.menu .active{
  color: #499ef3;
}

.comment-date {
  float: right;
}
.comment-tijiao {
  margin-top: 0px;
}
.comment_count{
  margin-top: 25px;
}

.comment-button {
  float: right;
  margin: 15px 0;
}


.question-title{
  margin-top: 30px;
}

.question-tag{
  margin-right: 10px;
}

.question-rated {
  line-height: 30px;
  font-size: 15px;
  margin-left: 0;
  list-style: none;
  padding-left: 0px;
}

.erjipinglun {
  border: 1px solid #eee;
  border-radius: 15px;
  margin: 15px 0;
  padding-top: 15px;
  margin-bottom: 15px;
}

.question-wechat{
  margin-top: 0px;
  width: 100%;
}

.publish-tag-tab{
  display: none;
  margin-top: 10px;
  padding-top: 10px;
}

.publish-tag-tab .label-info{
  margin:5px 5px;
  white-space: normal;
  display: inline-block;

}

.foot{
  padding: 0px 30%;
  color: #666;
}